body
{
	text-align: center;
	background-image: url("https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462434_960_720.jpg");
	background-attachment: fixed;
}
h1
{
	text-align: center;
}
h2
{
	text-align: center;
}
h3
{
	text-align: center;
}
h4
{
	text-align: center;
}
p
{
	text-align: center;
}
ul
{
	list-style-position: inside;
	text-align: center;
}
